<nav>
    <a href="/">Home</a>
    <% if(user) { %>
        <a href="/menuitems/<%= user._id %>/full-menu">Full Menu</a>
        <a href="/menuitems/<%= user._id %>/pizzas">Pizzas</a>
        <a href="/menuitems/<%= user._id %>/pastas">Pastas</a>
        <a href="/menuitems/<%= user._id %>/desserts">Desserts</a>
        <a href="/menuitems/<%= user._id %>/new">Create New Item</a>
        <a href="/auth/sign-out">Sign Out</a>
    <% } else { %>
        <a href="/auth/sign-in">Sign In</a>
        <a href="/auth/sign-up">Sign Up</a>
    <% } %>
</nav>