<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Pizzas</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <%- include('../partials/_navbar.ejs') %>
    <h1>Pizzas</h1>
    <% pizzas.forEach(pizza => { %>
        <div class="item-card">
            <div class="name-and-price">
              <h3><%= pizza.itemName %> - <%= pizza.price %></h3>
            </div>
            <div class="description-area">
              <p><%= pizza.description %></p>
            </div>
            <div class="action-buttons">
              <a href="/menuitems/<%= user._id %>/<%= pizza._id %>/edit" id="edit-link"
                >Edit Item</a
              >
              <form
                action="/menuitems/<%= user._id %>/<%= pizza._id %>/delete?_method=DELETE"
                method="POST"
              >
                <button type="submit" id="delete-button">Delete Item</button>
              </form>
            </div>
          </div>
    <% }) %>
  </body>
</html>
